@model Exercise2.Models.Contacts

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="/css/contacts.css">

<h4>Add Contact</h4>

<div class="row justify-content-center">
    <div class="col-md-15">
        <form asp-action="Create" autocomplete="off">
            <div asp-validation-summary="All"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <!--<span asp-validation-for="FirstName" class="text-danger"></span>-->
            </div>
            <div class="form-group upmargin">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <!--<span asp-validation-for="LastName" class="text-danger"></span>-->
            </div>
            <div class="form-group upmargin">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <!--<span asp-validation-for="PhoneNumber" class="text-danger"></span>-->
            </div>
            <div class="form-group upmargin">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <!--<span asp-validation-for="Email" class="text-danger"></span>-->
            </div>
            <div class="form-group upmargin">
                <label asp-for="CategoriesId" class="control-label">Category</label>
                <select asp-for="CategoriesId" class ="form-control" asp-items="ViewBag.CategoriesId">
                    <option value="" hidden disabled selected>Select a Category</option>
                </select>
            </div>
            <div class="form-group upmargin">
                <label asp-for="Organization" class="control-label"></label>
                <input asp-for="Organization" class="form-control" />
                <!--<span asp-validation-for="Organization" class="text-danger"></span>-->
            </div>
            <!--<div class="form-group upmargin">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>-->
            <div class="form-group upmargin">
                <input type="submit" value="Add" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-dark">Cancel</a>
            </div>
        </form>
    </div>
</div>

<!--<div>
    <a asp-action="Index">Back to List</a>
</div>-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
